<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
            <div class="form-group">
                <label for="name">Titulo</label>
                <input type="text" [(ngModel)]="task.title" class="form-control" id="title" name="title"
                    placeholder="Informe o título da tarefa" required #name="ngModel">
            </div>
            <div [hidden]="!name.pristine" class="alert alert-danger">Title is required</div>
            <button type="submit" [disabled]="!taskForm.form.valid" class="btn btn-info">Enviar</button>
        </form>
    </div>
</div>