<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <div *ngFor="let task of tasks">
                <h4>{{ task.title }}</h4>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th>Ações</th>
                        <th><a class="btn btn-primary" routerLink="/add_item/{{task.id}}">Adicionar Item</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of task.items">
                        <td><input type="checkbox" /></td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a class="btn btn-primary p-1 mr-1" href="#">Alterar</a>

                            <a class="btn btn-danger p-1 ml-1" href="#">Remover</a>
                        </td>
                    </tr>
                </tbody>
                <br><br><br>
            </div>
        </table>
    </div>
</div>